* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  body.bodyscroll {
    background-color: #fff;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    transition: background-color 0.4s ease;
    background-color: #010101;
    overflow-x: hidden;
    height: 400vh;
    color: #fff;
  }
  a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #fff;
  }

  /* ========== HEADER ========== */
  /* header {
    transition: background-color 0.4s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
  }
  nav ul li a {
    position: relative;
    content: "";
  }
  nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: all ease 0.5s;
  }
  nav ul li a:hover::before {
    width: 100%;
  } */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    transition: background-color 0.4s ease;
    z-index: 999;
  }

  .dropdown__menu {
    list-style: none;
  }

  /*=============== NAV ===============*/
  .nav {
    height: 50px;
    background: #000;
    padding: 20px;
  }

  .nav__logo,
  .nav__burger,
  .nav__close {
    color: #fff;
    text-decoration: none;
  }

  li {
    text-decoration: none;
  }
  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    font-weight: 200;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
  }

  .nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
  }

  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
  }

  .nav__burger,
  .nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
  }

  .nav__close {
    opacity: 0;
  }

  .content {
    padding: 0 100px;
    height: 100vh;
    align-items: center;
    display: flex;
    position: relative;
  }
  .content .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    user-select: none;
    font-weight: bold;
    line-height: 65px;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  h1 .developer {
    position: relative;
  }
  h1 .developer::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 0;
    transition: all ease 1s;
  }

  #test {
    color: #1160a6;
  }

  h1 .developer:hover::before {
    width: 100%;
  }
  .bottom_text {
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 50px;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .bottom_text h5 {
    margin: 10px;
  }

  .bottom_text a i {
    font-size: 15px;
    width: auto;
    border-radius: 100%;
    padding: 5px 6px;
    border: 3px solid #fff;
    animation: blink 1.5s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* ========== ABOUT ========== */

  .about {
    font-family: "Poppins", sans-serif;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin: 760px 80px 370px 80px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Soft shadow for better visibility */
  }

  .profile-image img {
    max-width: 290px;
    border-radius: 20px;
    margin-right: 20px;
  }

  .description {
    padding: 20px;
    margin-right: 50px;
    width: 60%;
  }

  .description .wrapper h2 {
    font-size: 28px;
    color: #333;
    &:nth-of-type(2) {
      color: rgb(48, 107, 203);
    }
  }

  .description p {
    margin-top: 20px;
    font-size: 19px;
    text-align: justify;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
  }

  #google_element {
    width: 50%;
    position: relative; /* Untuk mengatur posisi elemen */
    display: contents; /* Untuk mengizinkan elemen mengambil lebar minimum yang diperlukan */
    border: none; /* Untuk menambahkan border pada elemen */
    padding: 10px; /* Untuk memberikan jarak antara konten dan border */
    border-radius: 5px; /* Untuk mengubah sudut elemen menjadi bulat */
  }

  /* ========== MY-PROJECT ========== */
  .experience {
    background: #000;
  }

  .title-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .title-experience h1 {
    font-weight: 500;
    color: #fff;
    font-size: 50px;
  }

  .timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .container {
    padding: 10px 30px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #fff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .right::after {
    left: -16px;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .content-experience {
    padding: 20px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.311);
    background-color: #fff;
    position: relative;
    border-radius: 6px;
  }

  .content-experience p {
    color: #000;
  }

  .left .content-experience {
    margin-left: 0;
  }

  .right .content-experience {
    margin-left: 20px;
  }

  .title {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 10px;
  }

  .date {
    font-size: 0.9em;
    color: #000;
    margin-bottom: 5px;
  }

  .content-experience img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .svg-top,
  .svg-bottom {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .svg-container {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  /* ========== SKILSS ========== */

  .my-skill h1 {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
  }

  .my-skill {
    margin-top: 370px;
  }
  /* card */
  .text-carousel {
    text-align: center;
    padding: 40px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #000;
  }
  .carousel-container {
    position: relative;
    width: 100%;
    margin-top: 150px;
  }

  .carousel-container2 {
    margin-top: 5px;
    position: relative;
    width: 100%;
  }

  .card-carousel {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
  }

  .card {
    user-select: none;
    width: 200px;
    height: auto;
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.9s, opacity 0.5s;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    padding: 15px;
    opacity: 0.6;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.311); /* Soft shadow for better visibility */
  }

  .card img {
    user-select: none;
    pointer-events: none;
    margin: 0px 10px;
    max-height: 150px;
    object-fit: cover;
  }

  .card-content {
    padding: 5px;
  }

  .card-content h3 {
    color: #000;
  }

  .card.inactive {
    transition: 0.7s;
    opacity: 2.1;
    transform: scale(1.2);
    /* pointer-events: none; */
    z-index: 4;
  }

  .my-projects {
    margin-top: 200px;
    text-align: center;
    padding: 40px 30px;
  }

  .my-projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    text-align: center;
    border-radius: 10px;

    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .project h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #000;
  }

  .project a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #05cead;
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .project a:hover {
    background-color: #04ad8e;
  }
  /* end card */

  .footer {
    margin-top: 600px;
    height: 200px;
    width: 100%;
    background: #000;
    background-size: 1000px 100px;
  }

  @media screen and (max-width: 600px) {
    .title-experience {
      display: block;
      margin: 0px 30px;
    }

    .title-experience h1 {
      font-size: 44px;
    }

    .card-carousel {
      flex-direction: column;
    }

    .card {
      margin: 20px auto;
      height: auto;
      width: 200px;
      padding: 10px;
    }

    .card img {
      margin-top: 20px;
      width: 120px;
      height: auto;
    }

    .card.inactive {
      transition: 0.7s;
      opacity: 1.9;
      transform: scale(1.1);
    }

    .timeline::after {
      left: 31px;
    }
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .container::before {
      left: 60px;
      border: medium solid #00ffff;
      border-width: 10px 10px 10px 0;
      border-color: transparent #00ffff transparent transparent;
    }
    .right {
      left: 0%;
    }
    .right::after {
      left: 60px;
    }
    .right .content {
      margin-left: 0;
    }
    .left::after,
    .right::after {
      left: 15px;
    }
    .left .content::before,
    .right .content::before {
      left: 60px;
      border: medium solid #333333;
      border-width: 10px 10px 10px 0;
      border-color: transparent #333333 transparent transparent;
    }
  }

  /* Navigation for mobile devices */
  @media screen and (max-width: 1118px) {
    .nav__menu {
      position: absolute;
      left: 0;
      width: 100%;
      height: auto;
      padding: 20px;
      overflow: auto;
      pointer-events: none;
      background: #000000e3;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .nav__menu::-webkit-scrollbar {
      width: 0;
    }
    .nav__list {
      list-style: none;
      background-color: transparent;
      padding-top: 1rem;
    }
  }

  .nav__link {
    color: #fff;
    background-color: transparent;
    font-weight: 400;
    list-style: none;
    padding: 10px 1.5rem;
    justify-content: space-around;
    align-items: flex-end;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .nav__link:hover {
    background-color: transparent;
  }

  /* Show menu */
  .show-menu {
    opacity: 1;
    pointer-events: initial;
  }

  /* Show icon */
  .show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
  }
  .show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
  }

  /*=============== DROPDOWN ===============*/
  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform 0.4s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 400;
    transition: background-color 0.3s;
  }

  .dropdown__link i,
  .dropdown__sublink i {
    list-style: none;
    font-size: 1.25rem;
    font-weight: initial;
  }

  .dropdown__link:hover,
  .dropdown__sublink:hover {
    background-color: rgba(100, 100, 100, 0.27);
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: 0;
    list-style: none;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  /* Show dropdown menu & submenu */
  .dropdown__item:hover .dropdown__menu,
  .dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height 0.4s ease-in;
  }

  /* Rotate dropdown icon */
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  /*=============== DROPDOWN SUBMENU ===============*/
  .dropdown__add {
    margin-left: auto;
  }

  .dropdown__sublink {
    background-color: transparent;
  }

  @media screen and (max-width: 340px) {
    /* .containers {
      margin-inline: 1rem;
    } */

    .nav__link {
      list-style: none;
      padding-inline: 1rem;
    }
  }

  /* For large devices */
  @media screen and (min-width: 1118px) {
    .nav {
      height: 80px;
      display: flex;
      justify-content: space-between;
    }

    .nav__link::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: all ease 0.5s;
    }
    .nav__link:hover::before {
      width: 100%;
    }

    .nav__toggle {
      display: none;
    }
    .nav__list {
      height: 100%;
      display: flex;
      list-style: none;
      column-gap: 3rem;
    }
    .nav__link {
      display: flex;
      align-items: flex-end;
      height: 100%;
      list-style: none;
      padding: 2px;
      justify-content: initial;
      column-gap: 0.25rem;
    }

    .dropdown__item,
    .dropdown__subitem {
      position: relative;
      list-style: none;
    }

    .dropdown__menu,
    .dropdown__submenu {
      max-height: initial;
      overflow: initial;
      position: absolute;
      list-style: none;
      left: 0;
      top: 2rem;
      list-style: none;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s, top 0.3s;
    }

    li {
      text-decoration: none;
    }

    .dropdown__link,
    .dropdown__sublink {
      padding-inline: 1rem 3.5rem;
    }

    .dropdown__subitem .dropdown__link {
      padding-inline: 1rem;
    }

    .dropdown__submenu {
      position: absolute;
      left: 100%;
      top: 0.5rem;
    }

    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
      opacity: 1;
      top: 5.5rem;
      pointer-events: initial;
      transition: top 0.3s;
    }

    /* Show dropdown submenu */
    .dropdown__subitem:hover > .dropdown__submenu {
      opacity: 1;
      top: 0;
      pointer-events: initial;
      transition: top 0.3s;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 40px;
      line-height: 45px;
    }
    .about {
      padding: 20px;
      margin: 300px 10px;
    }
    .description {
      padding: 0 10px;
    }
    .description .wrapper h2 {
      font-size: 20px;
    }
    .description p {
      text-align: justify;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .profile-image img {
      display: none;
    }

    .content {
      padding: 0 10px;
    }
    h1 {
      font-size: 40px;
      line-height: 45px;
    }
    .bottom_text {
      bottom: 30px;
    }
    .bottom_text h5 {
      font-size: 12px;
    }
    .bottom_text a i {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    .about {
      flex-direction: column;
      margin: 300px 20px;
    }
    .profile-image {
      margin-bottom: 20px;
    }
    .profile-image img {
      display: none;
    }
    .description {
      width: 100%;
      margin-right: 0;
      padding: 0 20px;
    }
    .description .wrapper h2 {
      font-size: 24px;
    }
    .description p {
      text-align: justify;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .my-projects {
      padding: 30px 0;
    }

    .project {
      grid-template-columns: 1fr;
    }

    
    .project.reverse {
      grid-template-columns: 1fr;
    }

    .project-image {
      order: -1;
    }
    .content {
      padding: 0 20px;
    }
    h1 {
      font-size: 50px;
      line-height: 55px;
    }

    .footer {
    margin-top: 600px;
    height: 200px;
    width: 100%;
    background: #000;
    background-size: 768px 100px;
}
  }